name: Aqua
on:
  push:
    branches: [master, main, release-*, dev]
    tags: [v*]
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - uses: actions/checkout@v4
      - name: Aqua
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.add(PackageSpec(name="Aqua"))
          Pkg.develop(PackageSpec(path=pwd()))
          using PortfolioOptimiser, Aqua
          Aqua.test_ambiguities(PortfolioOptimiser)
          Aqua.test_unbound_args(PortfolioOptimiser)
          Aqua.test_undefined_exports(PortfolioOptimiser)
          Aqua.test_project_extras(PortfolioOptimiser)
          Aqua.test_stale_deps(PortfolioOptimiser)
          Aqua.test_piracies(PortfolioOptimiser)
          Aqua.test_persistent_tasks(PortfolioOptimiser)
          # Aqua.test_deps_compat(PortfolioOptimiser)